<h1>Create Article</h1>
<form class="" action="/create-article" method="post">
  <div>
    <labeL>Title</labeL>
    <input type="text" name="title" />
    <label>Content</label>
    <textarea name="content" cols="30" rows="10"></textarea>
  </div>
  <button type="submit" name="button">Create Article</button>
</form>
